* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fcf3ec;
}

body.modal-open {
  overflow: hidden;
}

main {
  padding-top: 106px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

figure:has(span.image__loader) {
  position: relative;
}

figure:has(span.image__loader):before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

figure:has(span.image__loader) img {
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: #36363680;
  z-index: 100;
}

.modal-wrapper {
  max-width: 400px;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: 1000;
  background: #fff;
  border: none;
  outline: none;
}

.modal-wrapper.right {
  left: auto;
  right: 0;
}

.text-center {
  text-align: center;
}

.fs-18 {
  font-size: 18px !important;
}

.hidden {
  display: none;
}

.error {
  color: #4c4aba;
  font-size: 20px;
  font-weight: 400;
  margin: 40px 0;
}

.blue-button {
  padding: 10px 30px;
  border-radius: 5px;
  background: #4c4aba;
  color: #fff;
  display: inline-block;
  transition: opacity 0.2s ease;
}

.banner-buttons .blue-button {
  text-transform: uppercase;
  font-weight: 600;
}

.blue-button:hover {
  opacity: 0.9;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.page-header {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.page-heading {
  font-size: 54px;
  font-weight: 700;
  color: #4c4aba;
  margin-bottom: 12px;
}

.page-description {
  font-size: 18px;
  line-height: 1.65;
  max-width: 800px;
  margin: 0 auto;
}

.section-header:not(:only-child) {
  margin-block: 55px;
}

.section-SubHeading {
  color: #4c4aba;
  letter-spacing: 0.23em;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.image-lazy-load {
  visibility: hidden;
  opacity: 0;
}

.image__loader {
  position: absolute;
  display: block;
  height: 2px;
  width: 50px;
  inset: 0;
  z-index: -1;
  margin: auto;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.image__loader::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 200%;
  opacity: 0;
  visibility: hidden;
  background-color: #212529;
}

.image-lazy-load + .image__loader::after {
  opacity: 1;
  visibility: visible;
  animation: lazyLoader 3s infinite;
  animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
}

@keyframes lazyLoader {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50px);
  }
}


@media screen and (max-width: 789px) {
  .page-header {
    padding: 0 40px;
  }

  .page-heading {
    font-size: 34px;
  }

  .page-description {
    font-size: 16.5px;
  }
}